@tailwind base;
  @tailwind components;
  @tailwind utilities;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


  @layer base {
    :root {
      --background:240, 10%, 4%;
      --foreground: 210 13% 94%;

      --card: 0 0% 100%;
      --card-foreground: 210 13% 94%;

      --popover: 0 0% 100%;
      --popover-foreground: 210 13% 94%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 240 4% 16%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 210 13% 94%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 210 13% 94%;
      --foreground: 210 40% 98%;

      --card: 210 13% 94%;
      --card-foreground: 210 40% 98%;

      --popover: 210 13% 94%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 240 4% 16%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;

  }

  
.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}
/* 
 body {
background-color: #000 !important;
} */



  /* .dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
  }
  .dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
  } */

  .dropdown{
    position: absolute;
    top: 100%;
    right: 0%;
    margin-top: 0.75rem;
    width: 100%;
    padding: 1.2rem;
    background-color: black;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
    align-items: end;
    z-index: 100;
    border: 1px #727272 solid;
    border-radius: 14px;
    animation: fadeInUp 0.5s forwards;
  }

  .dropdown_link {
    width: 100%;
    text-align: center;
    font-size:1.05rem ;
    line-height: 1.25rem;
    font-weight: 600;
   
  }

  @keyframes fadeInUp {
    from {
        
        transform: translateY(-5px);
    }
    to {
        
        transform: translateY(0);
    }
}

.feed{
  width: 100%;
  display: grid;
  /* gap: 0.5rem; */
  align-items: center;;
}
.feed_layout{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
}

.feed_card{
  width: inherit;
  background-color:#111111 ;
  border-radius: 8px;
  padding: 12px;
  max-width: 600px;
  
}
.feed_card:hover{
  border: 1px #727272 solid;
  transition: 0.2s all ease-in-out;
}


.avatar{
  width: 4rem;
  border-radius: 50%;
}